<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Whytunes</title>
</head>
<body>
    <H1>Welcome to the index page</H1>
    <form action="/search">
        <input placeholder="Search for a song" id="inputSearch" name="name" required>
        <button type="submit" th:href="'/search'">Search</button>
    </form>
    <div>
        <h2>Tracks:</h2>
        <div th:each="track:${tracks}">
            <span th:text="${track.getName()}"></span>
        </div>
    </div>

    <div>
        <h2>Artists:</h2>
        <div th:each="artist:${artists}">
            <span th:text="${artist.getFullName()}"></span>
        </div>
    </div>

    <div>
        <h2>Artists:</h2>
        <div th:each="genre:${genres}">
            <span th:text="${genre.getName()}"></span>
        </div>
    </div>


</body>
</html>