<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Tracks:</h2>
    <div th:each="track:${tracks}">
        <h3>Track</h3>
        <span>Name: </span><span th:text="${track.getName()}"></span>
        <br>
        <span>Artist: </span><span th:text="${track.getArtist()}"></span>
        <br>
        <span>Album: </span><span th:text="${track.getAlbum()}"></span>
        <br>
        <span>Genre: </span><span th:text="${track.getGenre()}"></span>
        <br>
    </div>
</div>
</body>
</html>